.friends .friends__header{
    
}

.friends .friends__plus{
    
    border-bottom: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
    padding: 15px 0px;
    margin: 15px 0px;
    
}

.friends__plus .friends__title,
.friends__list .friends__title{
    font: 14px;
    opacity: 0.5;
    margin-bottom: 10px;
}

.friend__content .friend__name {
    display: swap;
    font-weight: 600;
}