@import "reset.css"; /*또는 normalize.css를 사용할수도있음 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";

*{
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family: "Open Sans";
}

a{
    color:inherit;
    text-decoration: none;
}
